.container {
  width: 150px;
  height: 150px;
  background-color: #c4e1e6;

  margin: 20px auto;

  background-image: url(images/tennis-7968714_1920.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background : color image repeat attachment position */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #c4e1e6;
}
html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 50px 0;
  background-color: #c4e1e6;
}
header h1 {
  font-family: Dancing Script, cursive;
  font-size: 3em;
  margin-bottom: 20px;
}
header p {
  font-family: "source-sans-pro", sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #3b3b1a;
  margin-bottom: 30px;
}
header button {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #000000;
  margin: 0 25px;
  transition: 1s;
}
header button:hover {
  background-color: #000000;
  color: gold;
}

nav {
  text-align: center;
  padding: 20px 0;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  font-family: Dancing Script, cursive;
}

nav ul li a {
  text-decoration: none;
  color: #09868c;
  font-size: 1.6em;
}

#store #about-us,
#contact-us,
#footer {
  /* border: 2px solid black; */
  width: 80%;
  margin: 20px auto;
}
#store h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  color: #031603;
  margin-bottom: 20px;
}
.store-list {
  margin: 20px auto 0 auto;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  padding: 20px 0;
  box-sizing: border-box;

  justify-content: center;
}

.store-list h3 {
  font-family: "Playfair Display SC", serif;
  color: #0c1101;
  margin-bottom: 20px;
  text-align: left;
}
.card {
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 240px;
  font-family: "Lato", sans-serif;
  color: #0b1106;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}
.card-body {
  text-align: center;
  font-family: "Lato", sans-serif;
}
.card-title {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  color: gold;
}
.card-text {
  font-style: italic;
  line-height: 1.5rem;
  margin: 10px 0;
}

.btn {
  color: white;
  background-color: rgb(4, 21, 1);
  border: none;
  width: 100%;
  padding: 10px 0;
  font-size: 0.8rem;
}

#about-us p,
#contact-us p {
  font-family: "Lato", sans-serif;
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
}
form {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}
form div {
  margin-bottom: 20px;
}
.form-label {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
}
.form-control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: #1f53ad 1px dotted;
}
.btnSubmit {
  background-color: #33ac1d;
  color: #f0e2c5;
  border: none;
  margin-left: 160px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  height: 40px;
}
footer {
  text-align: center;
  font-family: "Lato", sans-serif;
}
footer p {
  font-size: 0.9rem;
}
